# Utility-maximizing model with literal listener beliefs
Natalia VÃ©lez, April 2022

In [1]:
import teaching_models as teach

Loading teaching problems
{'A': [[0, 0, 1, 1, 0, 0],
       [0, 1, 1, 1, 1, 0],
       [1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1],
       [0, 1, 1, 1, 1, 0],
       [0, 0, 1, 1, 0, 0]],
 'B': [[1, 1, 1, 0, 0, 0],
       [1, 1, 1, 0, 0, 0],
       [1, 1, 1, 1, 0, 0],
       [0, 0, 1, 1, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0]],
 'C': [[0, 0, 0, 1, 1, 1],
       [0, 0, 0, 1, 1, 1],
       [0, 0, 1, 1, 1, 1],
       [0, 0, 1, 1, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0]],
 'D': [[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 1, 1, 0, 0],
       [1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1]]}
Participants excluded from analysis:
[3, 17]
Cleaning up human behavioral data
    subject  run  block_idx  ex_idx first_movement   start  problem  \
0         1    1          0       0         [0, 1]  [0, 0]       22
1         1    1          0       1         [0, 1]  [0, 0]       22
3         1    1          1       0         [0, 4]  [0, 5]       18
4         1    1          1       1         [0, 4]  [0, 5]       18
5         1    1          1       2         [0, 4]  [0, 5]       18
6         1    1          2       0         [5, 4]  [5, 5]        1
7         1    1          2       1         [5, 4]  [5, 5]        1
8         1    1          2       2         [5, 4]  [5, 5]        1
10        1    1          3       1         [5, 1]  [5, 0]       16
11        1    1          3       2         [5, 1]  [5, 0]       16
12        1    2          0       0         [0, 1]  [0, 0]       20
13        1    2          0       1         [0, 1]  [0, 0]       20
14        1    2          0       2         [0, 1]  [0, 0]       20
16        1    2          1       1         [5, 4]  [5, 5]       28
17        1    2          1       2         [5, 4]  [5, 5]       28

                   order  example cursor_coords example_coords  cursor
0   ['C', 'B', 'D', 'A']        8        [0, 0]         [1, 2]       0
1   ['C', 'B', 'D', 'A']       27        [1, 2]         [4, 3]       8
3   ['D', 'B', 'C', 'A']        3        [0, 5]         [0, 3]       5
4   ['D', 'B', 'C', 'A']       32        [0, 3]         [5, 2]       3
5   ['D', 'B', 'C', 'A']        7        [5, 2]         [1, 1]      32
6   ['A', 'D', 'C', 'B']       31        [5, 5]         [5, 1]      35
7   ['A', 'D', 'C', 'B']        1        [5, 1]         [0, 1]      31
8   ['A', 'D', 'C', 'B']        4        [0, 1]         [0, 4]       1
10  ['B', 'C', 'A', 'D']       27        [5, 0]         [4, 3]      30
11  ['B', 'C', 'A', 'D']        8        [4, 3]         [1, 2]      27
12  ['D', 'C', 'A', 'B']        9        [0, 0]         [1, 3]       0
13  ['D', 'C', 'A', 'B']       19        [1, 3]         [3, 1]       9
14  ['D', 'C', 'A', 'B']       21        [3, 1]         [3, 3]      19
16  ['C', 'D', 'B', 'A']       10        [5, 5]         [1, 4]      35
17  ['C', 'D', 'B', 'A']       26        [1, 4]         [4, 2]      10

In [9]:
pD, pH = teach.strong_sampling(0)

In [10]:
print(pD.shape)
pD.head()

(36, 4)

hypothesis         A         B         C    D
idx
0           0.000000  0.083333  0.000000  0.0
1           0.000000  0.083333  0.000000  0.0
2           0.041667  0.083333  0.000000  0.0
3           0.041667  0.000000  0.083333  0.0
4           0.000000  0.000000  0.083333  0.0

In [11]:
print(pH.shape)
pH.head()

(36, 4)

hypothesis    A    B    C    D
idx
0           0.0  1.0  0.0  0.0
1           0.0  1.0  0.0  0.0
2           0.5  0.5  0.0  0.0
3           0.5  0.0  0.5  0.0
4           0.0  0.0  1.0  0.0

In [12]:
pD.sum()

hypothesis
A    1.0
B    1.0
C    1.0
D    1.0
dtype: float64

In [13]:
pH.sum(axis=1)

idx
0     1.0
1     1.0
2     1.0
3     1.0
4     1.0
5     1.0
6     1.0
7     1.0
8     1.0
9     1.0
10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
18    1.0
19    1.0
20    1.0
21    1.0
22    1.0
23    1.0
24    1.0
25    1.0
26    1.0
27    1.0
28    1.0
29    1.0
30    1.0
31    1.0
32    1.0
33    1.0
34    1.0
35    1.0
dtype: float64