# Teaching: Make behavioral RDMs
Natalia VÃ©lez, October 2021

In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import rsatoolbox
import rsatoolbox.data as rsd
import rsatoolbox.rdm as rsr

sns.set_context('talk')
sns.set_style('white')

Load behavioral data:

In [2]:
human_df = pd.read_csv('outputs/teaching_behavior.csv')
human_df.head()

,subject,run,problem_idx,ex_idx,onset,problem,order,example,rating
0,1,1,0.0,0.0,30.00,22.0,"['C', 'B', 'D', 'A']","[1, 2]",1.0
1,1,1,0.0,1.0,45.35,22.0,"['C', 'B', 'D', 'A']","[4, 3]",2.0
2,1,1,0.0,2.0,59.35,22.0,"['C', 'B', 'D', 'A']",NaN,2.0
3,1,1,1.0,0.0,104.05,18.0,"['D', 'B', 'C', 'A']","[0, 3]",0.0
4,1,1,1.0,1.0,118.45,18.0,"['D', 'B', 'C', 'A']","[5, 2]",NaN

Load model predictions:

## Control: Time RDM

## Control: Block RDM