# Teacher performance
Natalia VÃ©lez, March 2022

In [1]:
%matplotlib inline

import os, sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sys.path.append('..')
from utils import read_json

sns.set_context('talk')
sns.set_style('white')

Load model comparison results:

In [2]:
model_df = pd.read_csv('../2_behavioral/outputs/second_level_model_regressors.csv')
model_df.head()

   subject     logBF
0        1 -0.897386
1        2 -1.037389
2        4  2.297325
3        5 -0.636657
4        6 -0.963019

Load student performance:

In [3]:
student_df = pd.read_csv('outputs/student_behavior.csv')
student_df.head()

,time_elapsed,teacher,problem,num_trial,num_hint,bets,bonus,worker,order,batch
0,181304,sub-04,34.0,0.0,0.0,"[0, 35, 41, 48]",0.013777,ARI1EMAHUA9PO,0,2022-02-02-1303
1,192911,sub-04,34.0,0.0,1.0,"[0, 50, 49, 0]",0.020623,ARI1EMAHUA9PO,0,2022-02-02-1303
2,203582,sub-04,34.0,0.0,2.0,"[0, 0, 100, 0]",0.041667,ARI1EMAHUA9PO,0,2022-02-02-1303
3,223655,sub-27,15.0,1.0,0.0,"[0, 52, 50, 48]",0.014444,ARI1EMAHUA9PO,0,2022-02-02-1303
4,232054,sub-27,15.0,1.0,1.0,"[0, 52, 50, 0]",0.021242,ARI1EMAHUA9PO,0,2022-02-02-1303